branches/multiNS-branch/statesAtoms.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
elementFormDefault="unqualified" attributeFormDefault="unqualified"
xmlns:satoms="http://www-amdis.iaea.org/xsams/0.3/statesAtoms"
xmlns:typ="http://www-amdis.iaea.org/xsams/0.3/types"
targetNamespace="http://www-amdis.iaea.org/xsams/0.3/statesAtoms"
>

	<xs:import namespace="http://www-amdis.iaea.org/xsams/0.3/types" schemaLocation="typesAttributes.xsd"/>
	
	
	<xs:annotation>
		<xs:documentation>5/8/07: polarizability added (DH,YR); quantumDefect added (12/5/07)</xs:documentation>
	</xs:annotation>
	<xs:element name="Atoms" type="satoms:AtomsType">
		<xs:annotation>
			<xs:documentation>Atoms or atomic ions</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="AtomsType">
		<xs:complexContent>
			<xs:extension base="typ:PrimaryType">
				<xs:sequence>
					<xs:element name="Atom" type="satoms:AtomType" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AtomType">
		<xs:complexContent>
			<xs:extension base="typ:PrimaryType">
				<xs:sequence>
					<xs:element name="ChemicalElement" type="typ:ChemicalElementType">
						<xs:annotation>
							<xs:documentation>Description of chemical elements</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Isotope" type="satoms:IsotopeType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>List of isotopes</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IsotopeType">
		<xs:sequence>
			<xs:element name="IsotopeParameters" type="satoms:IsotopeParametersType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Parameters of a specific isotope</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IonState" type="satoms:IonStateType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>List of ionization states</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Comments" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IsotopeParametersType">
		<xs:complexContent>
			<xs:extension base="typ:PrimaryType">
				<xs:sequence>
					<xs:element name="MassNumber" type="xs:integer">
						<xs:annotation>
							<xs:documentation>Mass number. Example: 40.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Mass" type="typ:DataType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Measured mass.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NuclearSpin" type="typ:AngularMomentumType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Spin of an isotope</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IonStateType">
		<xs:complexContent>
			<xs:extension base="typ:PrimaryType">
				<xs:sequence>
					<xs:element name="IonCharge" type="xs:integer">
						<xs:annotation>
							<xs:documentation>Ion charge. Example: 12.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IsoelectronicSequence" type="typ:ElementSymbolType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Chemical element representation of isoelectronic sequence. Example: He.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AtomicState" type="satoms:AtomicStateType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>List of atomic states within an ion</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AtomicStateType">
		<xs:complexContent>
			<xs:extension base="typ:PrimaryType">
				<xs:sequence>
					<xs:element name="Description" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>An arbitrary label</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AtomicNumericalData" type="satoms:AtomicNumericalDataType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Numerical parameters describing an atomic state</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AtomicQuantumNumbers" type="satoms:AtomicQuantumNumbersType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Discrete quantum numbers describing an atomic state</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AtomicComposition" type="satoms:AtomicCompositionType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Expansion of the wavefunction in a specific basis</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute ref="typ:stateID" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AtomicNumericalDataType">
		<xs:complexContent>
			<xs:extension base="typ:PrimaryType">
				<xs:sequence>
					<xs:element name="StateEnergy" type="typ:DataType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Energy from the ground state</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IonizationEnergy" type="typ:DataType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Energy required to remove an electron</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LandeFactor" type="typ:DataType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Lande factor</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="QuantumDefect" type="typ:DataType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Quantum defect</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TotalLifeTime" type="typ:DataType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>State lifetime</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Polarizability" type="typ:DataType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>State polarizability</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="StatisticalWeight" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Statistical weight. May be non-integer due to plasma environment effects.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AtomicCompositionType">
		<xs:complexContent>
			<xs:extension base="typ:PrimaryType">
				<xs:sequence>
					<xs:element name="Component" type="satoms:AtomicComponentType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Component of the state wavefunction</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AtomicCoreType">
		<xs:sequence>
			<xs:element name="ElementCore" type="typ:ElementSymbolType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Isoelectronic atom of the core. Example: Xe</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Configuration" type="satoms:ConfigurationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Configuration of the core</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Term" type="typ:TermType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Term of the core</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalAngularMomentum" type="typ:AngularMomentumType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Total angular momentum of the core</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AtomicComponentType">
		<xs:annotation>
			<xs:documentation>Description of a component of the atomic state wave function</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="SuperConfiguration" type="satoms:SuperConfigurationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Superconfiguration</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Configuration" type="satoms:ConfigurationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Atomic configuration</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Term" type="typ:TermType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Atomic term</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MixingCoefficient" type="typ:MixingCoefficientType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Expansion coefficient in the sum over the basis functions (signed or squared)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Comments" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Comments on a specific component</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="AtomicQuantumNumbersType">
		<xs:all>
			<xs:element name="Parity" type="typ:ParityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>State parity. Example: odd</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalAngularMomentum" type="typ:AngularMomentumType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Total angular momentum. Example: 2.5</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Kappa" type="typ:AngularMomentumType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Relativistic parameter kappa</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HyperfineMomentum" type="typ:AngularMomentumType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Hyperfine momentum. Example: 2</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MagneticQuantumNumber" type="typ:AngularMomentumProjectionType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Magnetic quantum number. Example: -1</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="ConfigurationType">
		<xs:annotation>
			<xs:documentation>Description of atomic configuration</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="AtomicCore" type="satoms:AtomicCoreType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Description of the configuration core</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Shells" type="satoms:ShellsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>List of electron shells</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ConfigurationLabel" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Arbitrary configuration label</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="ShellsType">
		<xs:sequence>
			<xs:sequence>
				<xs:element name="Shell" type="satoms:ShellType" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Atomic shell</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element name="ShellPair" type="satoms:ShellPairType" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ShellPairType">
		<xs:sequence>
			<xs:element name="Shell1" type="satoms:ShellType"/>
			<xs:element name="Shell2" type="satoms:ShellType"/>
			<xs:element name="ShellPairTerm" type="typ:TermType"/>
		</xs:sequence>
		<xs:attribute name="shellPairID" type="xs:ID" use="required">
			<xs:annotation>
				<xs:documentation>Identifier of the shell pair</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ShellType">
		<xs:annotation>
			<xs:documentation>Complex type for atomic shell description.</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="PrincipalQuantumNumber" type="typ:PrincipalQuantumNumberType">
				<xs:annotation>
					<xs:documentation>Principal quantum number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrbitalAngularMomentum" type="typ:OrbitalAngularMomentumType"/>
			<xs:element name="NumberOfElectrons" type="xs:double">
				<xs:annotation>
					<xs:documentation>Number of electrons in the shell</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Parity" type="typ:ParityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Parity of a shell</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Kappa" type="typ:AngularMomentumType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Relativistic parameter</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalAngularMomentum" type="typ:AngularMomentumType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Total angular momentum of the shell</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ShellTerm" type="typ:TermType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Term of the shell</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
		<xs:attribute name="shellID" type="xs:ID" use="optional">
			<xs:annotation>
				<xs:documentation>Shell identifier</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="SuperConfigurationType">
		<xs:sequence>
			<xs:element name="SuperShell" type="satoms:SuperShellType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>List of supershells</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SuperShellType">
		<xs:sequence>
			<xs:element name="PrincipalQuantumNumber" type="xs:positiveInteger">
				<xs:annotation>
					<xs:documentation>Principal quantum number. Example: 4</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumberOfElectrons" type="xs:double">
				<xs:annotation>
					<xs:documentation>Number of electrons. May be noninteger to account for plasma effects. Example: 3</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
