branches/ucl-branch/ucl-BasicTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://xsams.svn.sourceforge.net/viewvc/xsams/branches/ucl-branch"
    xmlns:ucl="http://xsams.svn.sourceforge.net/viewvc/xsams/branches/ucl-branch"
    targetNamespace="http://xsams.svn.sourceforge.net/viewvc/xsams/branches/ucl-branch"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">
    
    <xs:annotation>
        <xs:documentation>Schema for incorporating the ucl-branch experimental extensions into XSAMS</xs:documentation>
    </xs:annotation>
   
    <!-- basic types -->
    <xs:complexType name="PrimaryType">
        <xs:sequence>
            <xs:element name="Comments" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Arbitrary comments</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attributeGroup ref="ucl:primaryTypeAttributes"/>
    </xs:complexType>
    <xs:attributeGroup name="primaryTypeAttributes">
        <xs:attribute name="sourceRef">
            <xs:annotation>
                <xs:documentation>Reference to specific bibliographic items.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:IDREFS">
                    <xs:pattern value="B.+"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="methodRef">
            <xs:annotation>
                <xs:documentation>Reference to a specific method.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:IDREF">
                    <xs:pattern value="M.+"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <!-- all PrimaryTypes may have an ID -->
        <xs:attribute name="id" type="xs:ID"/>
    </xs:attributeGroup>
    
    <xs:complexType name="ReferencedTextType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="sourceRef">
                    <xs:annotation>
                        <xs:documentation>Reference to specific bibliographic items.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:IDREFS">
                            <xs:pattern value="B.+"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    
    <xs:complexType name="ValueType">
        <xs:simpleContent>
            <xs:extension base="xs:double"/>
        </xs:simpleContent>
    </xs:complexType>
    
    <xs:complexType name="PhysicalQuantityType">
        <xs:annotation>
            <xs:documentation>Description of a physical quantity with a value but no accuracy</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="PrimaryType">
                <xs:sequence>
                    <xs:element name="Value" type="ValueType">
                        <xs:annotation>
                            <xs:documentation>Value of a particular quantity</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="units" type="xs:string" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="DataType">
        <xs:annotation>
            <xs:documentation>Description of physical data - a value with an accuracy</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="PhysicalQuantityType">
                <xs:sequence>
                    <xs:element name="Accuracy" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Description of the accuracy</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ParameterType">
        <xs:annotation>
            <xs:documentation>Description of a parameter: a single piece of data with a name, units and an accuracy</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="DataType">
                <xs:attribute name="name" type="xs:string" use="required"/>
                <xs:attribute name="envRef" type="xs:IDREF" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="ParameterOrFitType">
        <xs:annotation>
            <xs:documentation>Description of a parameter: a single piece of data with a name, units and an accuracy</xs:documentation>
        </xs:annotation>
        <xs:choice>
           <xs:sequence>
               <xs:element name="Value" type="ValueType" minOccurs="1" maxOccurs="1"/>
               <xs:element name="Accuracy" type="xs:string" minOccurs="0" maxOccurs="1"/>
           </xs:sequence>
           <xs:element name="FitParameters" type="FitParametersType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:choice>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="envRef" type="xs:IDREF" use="optional"/>
        <xs:attribute name="units" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="FitParametersType">
        <xs:annotation>
            <xs:documentation>A list of fit parameters and arguments</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FitArgument" type="FitArgumentType"  minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="FitParameter" type="ParameterType"  minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="functionRef" type="xs:IDREF" use="optional"/>
    </xs:complexType>
    
    <xs:complexType name="FitArgumentType">
        <xs:annotation>
            <xs:documentation>An argument to a fit function, with validity limits</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="lowerLimit" type="xs:double"/>
                <xs:attribute name="upperLimit" type="xs:double"/>
                <xs:attribute name="units" type="xs:string" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <!-- environment -->
    <xs:complexType name="EnvironmentType">
        <xs:annotation>
            <xs:documentation>Description of some equilibrium reference conditions or environment relevant to put some data into context</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="PrimaryType">
                <xs:sequence>
                    <xs:element name="Temperature" type="PhysicalQuantityType" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="TotalPressure" type="PhysicalQuantityType" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="TotalNumberDensity" type="PhysicalQuantityType" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="Composition" type="CompositionType" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="CompositionType">
        <xs:annotation>
            <xs:documentation>Description of the equilibrium composition of a particular environment</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Species" type="ReferencedSpeciesType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReferencedSpeciesType">
        <xs:annotation>
            <xs:documentation>A named species or reference to a species with a given equilibrium concentration, mole fraction or partial pressure</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="PartialPressure" type="PhysicalQuantityType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="MoleFraction" type="PhysicalQuantityType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Concentration" type="PhysicalQuantityType" minOccurs="0" maxOccurs="1"/>
        </xs:choice>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="speciesRef" type="xs:IDREF" use="optional"/>
    </xs:complexType>
    
    <!-- VectorsType container for one or more Vector elements-->
    <xs:complexType name="VectorsType">
        <xs:complexContent>
            <xs:extension base="PrimaryType">
                <xs:sequence>
                    <xs:element name="Vector" type="VectorType" minOccurs="1" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attribute name="units" type="xs:string" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="VectorType">
        <xs:complexContent>
            <xs:extension base="PrimaryType">
                <xs:attribute name="ref" type="xs:string"/>
                <xs:attribute name="x3" type="xs:double"/>
                <xs:attribute name="y3" type="xs:double"/>
                <xs:attribute name="z3" type="xs:double"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <!-- A matrix -->
    <xs:complexType name="MatrixType">
        <xs:complexContent>
            <xs:extension base="PrimaryType">
                <xs:sequence>
                    <xs:element name="RowRefs" type="xs:string"/>
                    <xs:element name="ColRefs" type="xs:string"/>
                    <xs:element name="Matrix" type="xs:string" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
                <xs:attribute name="units" type="xs:string" use="required"/>
                <xs:attribute name="nrows" type="xs:integer" use="required"/>
                <xs:attribute name="ncols" type="xs:integer" use="required"/>
                <xs:attribute name="form" type="xs:string" use="required"/>
                <xs:attribute name="values" type="xs:string" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <!-- The data list type: a whitespace-delimited string of numbers -->
    <!-- It doesn't need sources and comments, because it always appears inside
        another element which provides these -->
    <xs:complexType name="DataListType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="n" type="xs:positiveInteger"/>
                <xs:attribute name="units" type="xs:string"/>
            </xs:extension>
        </xs:simpleContent>    
    </xs:complexType>
    
    <!-- The linear sequence type: for describing arithmetic progressions of the
        form a0 a0+a1 a0+2a1 a0+3a1 ... a0+(n-1)a1 -->
    <xs:complexType name="LinearSequenceType">
        <xs:complexContent>
            <xs:extension base="PrimaryType">
                <xs:attribute name="n" type="xs:positiveInteger"/>
                <xs:attribute name="units" type="xs:string"/>
                <xs:attribute name="a0" type="xs:double" use="required"/>
                <xs:attribute name="a1" type="xs:double" use="required"/>
            </xs:extension>
        </xs:complexContent>      
    </xs:complexType>
    
    <!-- A data series type -->
    <xs:complexType name="DataSeriesType">
        <xs:complexContent>
            <xs:extension base="PrimaryType">
                <xs:sequence>
                    <xs:choice>
                        <xs:element name="DataList" type="DataListType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="LinearSequence" type="LinearSequenceType"/>
                        <xs:element name="DataFile" type="xs:string"/>
                    </xs:choice>
                    <xs:choice>
                        <xs:element name="ErrorList" type="DataListType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="Error" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    </xs:choice>
                </xs:sequence>
                <xs:attribute name="parameter" type="xs:string"/>
                <xs:attribute name="units" type="xs:string"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <!-- A data table: one or more X-columns (abcissa(e); independent variable(s)) and one or more
        Y-columns (dependent variable(s)) -->
    <xs:complexType name="DataTableType">
        <xs:complexContent>
            <xs:extension base="PrimaryType">
                <xs:sequence>
                    <xs:element name="Description" type="xs:string"/>
                    <xs:element name="X" type="DataSeriesType"/>
                    <xs:element name="Y" type="DataSeriesType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    

</xs:schema>